<h1>Send a Notification</h1>
<div class='name'>Enter your token: </div> <input type="text" id="token"/><br />
<div class='name'>Message to send: </div> <input type="text" id="message"/><br />
<button class="btn-post">Send Notification</button>
